form(id="login", method="POST", action="/login")
	lable(for='username') User Name

	input#username(type='text', name='username')
	br
	br
	lable(for='password') Password
	input#password(type='text', name='password')
	br
	br
	input(type="submit", value="Log In")
		
h1!=message